<ion-view view-title="City">
  <ion-content>
	  <label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="text" placeholder="Search addresses" ng-model="query">
	  </label>
    <ion-list>
      <ion-item class="wrap" ng-repeat="address in addresses | filter:query" href="#/app/address/{{address.A_ID}}/{{address.PROP_ID}}">
        <i class="icon ion-ios-home-outline"></i> {{address.ADDRESS}} ({{address.USER_FNAME}} {{address.USER_LNAME}})
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>