<ion-view view-title="Invoice">
  <ion-content ng-repeat="i in invoice">
  	
	
		    <button class="button button-block button-positive button-outline" ng-click="openInvoiceUrl('{{i.PASSWD}}')">
		        <i class="icon ion-eye"></i> Preview
		    </button>
		    <div class="item item-divider">
		    	<div ng-show="{{i.SENT_TO_CUSTOMER}}">Sent to customer : {{i.SENT_TO_CUSTOMER}}
		    	</div>
		    	<button class="button button-block button-dark button-outline" ng-click="refreshEmail()">
			        <i class="icon ion-loop"></i> Refresh email
			    </button>
		    </div>
		    <div class="row">
			  <div class="col col-50 padding" >
			  	To email:
			  </div>
			 <div class="col">
			  	Customer
    		  </div>
    		  <div class="col">
			  	Remove
    		  </div>
			</div>
			<div class="row" ng-repeat="r in recipients">
			  <div class="col col-50 padding" >
			  	{{r.EMAIL}} 
			  </div>
			 <div class="col">
			  	<i class="icon {{r.PRETTY_IS_CUSTOMER}}"></i>
    		  </div>
    		  <div class="col">
			  	<button class="button icon ion-ios-minus button-small button-assertive button-outline" ng-click="removeRecipient('{{r.ROWNUM}}','{{i.INVOICE_MESSAGE_ID}}')"></button>
    		  </div>
			</div>
		    <button class="button button-block button-royal button-outline" ng-click="sendInvoice('{{i.INVOICE_MESSAGE_ID}}')">
		        <i class="icon ion-paper-airplane"></i> Send
		    </button>
		    
  </ion-content>
</ion-view>
